<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <nav
      class="navbar navbar-light sticky-top navbar-expand-lg navbar-light bg-light"
      id="navbar"
      style="background-color: #e3f2fd;"
    >
      <a class="navbar-brand" href="/usuarios">S7VEN</a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarNav"
        aria-controls="navbarNav"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="/usuarios">Usuarios</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/verProyectos">Proyectos</a>
          </li>
          <button type="button" class="btn btn-danger" (click)=logout()>
            Logout
          </button>
        </ul>
      </div>
    </nav>
    <div class="supercontainer">
        <div
          class="container1"
        >
          <img
            src="https://cdn.pixabay.com/photo/2014/08/08/20/55/worried-girl-413690_1280.jpg"
            class="card-img-top"
            alt="..."
          />
          <div class="card-body">
            <h5 class="card-title">{{ usuario?.name }}</h5>
            <p class="card-text">Ciudad: {{ usuario?.city }}</p>
            <p class="card-text">Formación: {{ usuario?.training }}</p>
            <p class="card-text">Experiencia: {{ usuario?.experience }}</p>
            <p class="card-text">Ofrezco: {{ usuario?.offer }}</p>
            <div class="button-container">
            <button class="btn btn-primary" id="acciones" [routerLink]="['/proyectos']">Crear proyecto</button>
            <button class="btn btn-success" id="acciones" [routerLink]="['/actualizar-perfil']">Actualizar perfil</button>
            <button type="button" class="btn btn-danger" id="acciones" (click)=Eliminar()>
                Eliminar cuenta
              </button>
            </div>
          </div>
        </div>
    </div>
  </body>
</html>

