<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <nav
      class="navbar navbar-light sticky-top navbar-expand-lg navbar-light bg-light"
      id="navbar"
      style="background-color: #e3f2fd;"
    >
      <a class="navbar-brand" href="#">S7VEN</a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarNav"
        aria-controls="navbarNav"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="/usuarios">Usuarios</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="todos-proyectos">Proyectos</a>
          </li>
          <button type="button" class="btn btn-dark" (click)=logout()>
            Logout
          </button>
        </ul>
      </div>
    </nav>
    <div class="supercontainer">
      <div class="card-controller">
        <div
          *ngFor="let usuario of usuarios"
          class="card"
          style="width: 18rem;"
        >
          <img
            src="https://cdn.pixabay.com/photo/2014/08/08/20/55/worried-girl-413690_1280.jpg"
            class="card-img-top"
            alt="..."
          />
          <div class="card-body">
            <h5 class="card-title">{{ usuario["name"] }}</h5>
            <p class="card-text">{{ usuario["city"] }}</p>
            <p class="card-text">{{ usuario["training"] }}</p>
            <p class="card-text">{{ usuario["experience"] }}</p>
            <p class="card-text">{{ usuario["offer"] }}</p>
            <button class="btn btn-primary" onclick="verperfil(usuario[0])">Ir a perfil</button>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>

